@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  width: 100%;
}
.bill {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 6px 21px 23px -1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}
.bill-left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
  margin: 3rem;
  padding: 1rem;
}
.bill-left h2 {
  color: var(--dark-grayish-cyan);
  margin-bottom: 1rem;
}
.bill-leftInput {
  align-items: baseline;
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.bill-leftInput input {
  background-color: var(--light-grayish-cyan2);
  border: none;
  color: var(--very-dark-cyan);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: 0.5rem;
  outline: none;
  padding: 1rem;
  position: relative;
  text-align: end;
  width: 100%;
}
.bill-leftInput > i {
  color: var(--dark-grayish-cyan2);
  font-size: 2rem;
  margin: 0 1rem;
  position: absolute;
  top: 1.8rem;
  z-index: 99;
}
.bill-leftButtons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.bill-leftButtons button,
.bill-leftButtons input {
  background-color: var(--very-dark-cyan);
  border-radius: 0.5rem;
  border: none;
  color: var(--white);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold;
  height: 4rem;
  outline: none;
  text-align: center;
  width: 10rem;
}
.bill-leftInput input:focus {
  border-radius: 0.5rem;
  border: 2px solid var(--dark-grayish-cyan);
  cursor: pointer;
}
.bill-leftButtons input {
  padding: 1rem;
}
.bill-leftButtons input:focus {
  background-color: var(--light-grayish-cyan2);
  border-radius: 0.5rem;
  border: 2px solid var(--dark-grayish-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
  text-align: right;
}
.bill-leftButtons button:hover {
  cursor: pointer;
}
.bill-leftButtons button:focus {
  background-color: var(--dark-grayish-cyan2);
  color: var(--very-dark-cyan);
  cursor: pointer;
  transition: all 450ms ease;
}
.bill-right button:hover {
  background-color: var(--white);
  cursor: pointer;
}
.bill-right {
  background-color: var(--very-dark-cyan);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
  padding: 2rem;
}
.bill-splitter {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.bill-splitter h2 {
  color: var(--white);
  font-size: 1.8rem;
}
.bill-splitter h1 {
  color: var(--dark-grayish-cyan);
  font-size: 4rem;
}
.bill-splitter h2 span {
  color: var(--dark-grayish-cyan);
  font-size: 1.4rem;
}
.bill-right button {
  background-color: var(--dark-grayish-cyan);
  border-radius: 0.5rem;
  border: none;
  color: var(--very-dark-cyan);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold;
  height: 4.5rem;
  outline: none;
  text-align: center;
  transition: all 650ms ease;
  width: 100%;
}
.container {
  height: max-content;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 1.5rem;
  width: 100%;
}
html {
  font-family: "Space Mono", monospace;
  font-size: 10px;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.logo {
  margin: auto auto 5rem auto;
  width: 10rem;
}
:root {
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --white: hsl(0, 0%, 100%);

  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
}
section {
  padding: 5rem 0;
}
@media screen and (min-width: 50rem) {
  .bill {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    height: 47rem;
  }
}
