body {
  background-color: rgb(220, 245, 220);
}
h1 {
  margin: auto;
}
table {
  background-color: white;
  box-shadow: 5px 5px 10px black;
  height: 50px;
  margin: auto;
  margin-top: 15%;
  padding: 10px;
  table-layout: fixed;
  text-align: center;
  width: 500px;
}
th,
td {
  appearance: none;
  background-color: rgb(197, 162, 5);
  font-weight: 900;
  padding: 30px;
}

input {
  background-color: rgb(190, 173, 95);
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
}
select {
  border: none;
  background: transparent;
  outline: none;
  background-color: rgb(197, 162, 5);
  appearance: none;
  text-align: center;
  font-weight: bold;
}
