@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;800&display=swap");
body {
  height: 100vh;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}
.container {
  max-width: 650px;
  text-align: center;
  margin: auto;
}
.logo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.title {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 15px;
}
.subtitle {
  color: hsl(209, 33%, 12%);
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 30px;
}

.darkbluetext {
  color: hsl(209, 33%, 12%);
  font-weight: 600;
}

#email {
  color: hsl(209, 33%, 12%);
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 25px;
  padding: 15px 165px 15px 20px;
}

#submitButton {
  background-color: hsl(223, 87%, 63%);
  border-style: none;
  color: #fff;
  border-radius: 25px;
  margin-left: 10px;
  padding: 15px 45px;
  -webkit-box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 17px -4px rgba(0, 0, 0, 0.75);
}

#errorMessage {
  color: hsl(354, 100%, 66%);
  font-size: 12px;
  margin-top: 7px;
  position: absolute;
  left: 715px;
}

#submitButton:hover {
  opacity: 75%;
}

.dashboard {
  max-width: 100%;
  margin: 85px 65px;
}

.social-link {
  color: hsl(223, 87%, 63%);
  font-size: 1em;
  border-radius: 50%;
  border: solid white;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
}
.social-link:visited {
  text-decoration: none;
}
.social-link:hover {
  background-color: hsl(223, 87%, 63%);
  color: white;
}
.copyright {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
}
